.header {
    background-color:brown;
    width: auto;
    height: 130px;

}

.parentbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: s;


}


.body {
    background-color: aquamarine;
}


.parentbox div{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: fit-content;
    


}