*{

    padding: 0;
    margin: 0;
    

}

.img-box{

    display: flex;
    align-items: center;
    justify-content: space-between;
}




body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    overflow: hidden; 
}

.menu {
    position: sticky;
    top: 0;
    width: 25%;
    padding: 20px;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: scroll;
   
}



.board {

    width: 75%;
    margin: 5px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto; 
    overflow-x: hidden; 
}

html, body {
    height: 100%;
}

.vertical-line {
    border-left: 1px solid #000;
    height: 100vh;
    
  }



.board .head-box{
    border-radius: 7px;
    padding: 5px;
    width: 100%;

}

.board h1{
    padding-left: 4%;

}

td{
    background-color:white;
    height: 40px;
}

tr{
    border-color: aquamarine;
    border-bottom: 1px solid rgb(161, 158, 137);

}


.task{
    width: 100%;
    margin-bottom: 50px;
    border-collapse: collapse;
    background-color: rgb(161, 158, 137);
    border-radius: 5px;
    text-align: center;
    font-size: x-large;


}

.task button{

    padding: 5px;
}

.task .done,.task .redo {
    background-color: rgb(50, 161, 205);
    padding: 7px;
    border: none;
    border-radius: 8px;
    transition: transform 0.2s ease;
}


.task .done:hover {
    background-color: rgb(50, 161, 205);
    transform: translateX(7px);
    
}

.task .redo:hover {
    background-color: rgb(50, 161, 205);
    transform: translateX(-7px);
    
}

.task i{
    transition: transform 0.5s ease;
}

.task i:hover{
   color: #f5a70a;
    transform: rotate(45deg);

}


ul{
    list-style: none;
}

.profile{
    margin-bottom: 50px;
    background-color: #89aeca;
    padding: 10px;
    border-radius: 5px;
}



.new_task .new{
    margin: 70px 0px 0px 0px;
    display:  none;
    flex-direction: column;
    align-items:center;
    gap: 50px;
    justify-content: space-around;
}

.new_task .new_btn{
    padding: 20px;
    font-size: larger;
    background-color:  #000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    transition: transform 0.4s ease;
    
}

.new_btn:hover{
    background-color: mediumseagreen;
    transform: translateY(5px);
}

.new_task .new .form_1{
    display: flex;
    gap: 15px;
    font-size: large;
    align-items: center;
   
}

.new_task select{
    background-color: rgb(232, 235, 190);
    padding: 8px;
    border-radius: 5px;
}


.new_task .btns{
    display: flex;
    gap: 20px;
}

.new_task .add_task{
 
    background-color:  #000;
    font-size: large;
    
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add_task:hover {
    background-color: #4ca3af;
    transform: translateX(5px);
}

.add_task:active {
    background-color: #4ca3af;
    transform: translateY(5px);
}

.new_task .cancel{
    padding: 8px;
}



.new_task input{
    background-color: rgb(184, 184, 184);
    padding: 8px;
}

.new_task select{
    background-color: rgb(184, 184, 184);
}

.log-out button{
    width: 100%;
    height: 40px;
    background-color:rgb(233, 53, 53);
    border: none;
    border-radius: 6px;
    font-size: medium;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 50px;
    color: white; 
    margin-bottom: 200px;

    transition: background-color 0.8s ease;
}

.new-list{
    margin-top: 30px;
    gap: 20px;
}
/*

.new-list , .log-out{
    width: 50%;

}



.new-list , .log-out{
    width: 50%;

}
*/


.new-list button{
    width: 100%;
    height: 40px;

    background-color:#000;
    border: none;
    border-radius: 6px;
    font-size: medium;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 50px;
    color: white;
    transition: background-color 0.8s ease;
}



.new-list button:hover ,.log-out button:hover{
    color: rgb(255, 255, 255); 
    background-color: rgb(121, 121, 121);
    
}


 
.input-list{
    display: none;

   
}

input{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    background-color: white;
    


}

.input-list button{
    padding: 5px;
    
    background-color: rgb(0, 0, 0);

    border-radius: 6px;
    border: rgb(5, 29, 59);
    color: white;


}

.input-list button:hover{
    padding: 6px;
    background-color: #4c5eaf;
    transition: background-color 1.5s ease;
    
}



.sect {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    transition: background-color 0.8s ease;
}

.sect .box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    
   /* background: linear-gradient(to right, #0099FF, #0033CC);*/
    background: linear-gradient(to right, #467091, #6c8ef7);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sect .box:hover {
    
    background: linear-gradient(to right, #0033CC, #0099FF);
    transform: scale(1.06);
}






.menu .labl-user{
    background-color: white;
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
     transition: background-color 0.4s ease;
}

.menu .labl-user a{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 6px;
    gap: 50px;
    text-decoration: none;
    color: black;
     transition: background-color 0.4s ease;

}


.labl-user a:hover{
    color: #000; 
    background-color: lightgray;
    transition: background-color 0.4s ease;
  

}



ul li .labl:hover {
    color: #000;

    background-color: lightgray;
   

}


.menu .labl{
    background-color: white;
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    color: black;
    font-size: larger;
    transition: background-color 0.4s ease;
}

.menu .labl-new{
    background-color:white;
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    color: black;
}


.menu #trash {
    margin-left: auto;
    margin-right: 2%;
    font-size:large;

}



.menu #trash:hover {
    
    color: red;
    margin-left: auto;
    margin-top: 5px;
    font-size:x-large;

}

.n_task {
    padding-bottom: 280px;
    }
    
.n_task .form_2{
    font-size: large;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    

}

.n_task .form_2 input{
    padding: 10px 20px;
    background-color: rgb(232, 235, 190);
    transition: transform 0.4s ease;
}

.n_task .form_2 .send{
    background-color: rgb(0, 0, 0);
    color: white;

}

.n_task .form_2 .send:hover{
    background-color: rgb(50, 161, 205);
    transform: translateX(7px);
}


