*{
    padding: 0px;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    height: 100vh;
}
.main {
    width: 100%;
    

}


.main .container{
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}


.main .login-sec{
    width: 35%;
    background-color:rgb(252, 214, 0);
    height: 100vh;
   font-size: 2em;
    border-width: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}




.main .intro{
    background-color:rgb(255, 255, 255);
    width: 65%;
    height: 100vh;
    font-size: 2em;
    border-width: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;;
    text-align: center;
    padding-right: 20px;

    
}


