*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-color: aqua;
    height: 100vh;
}
.main {
    
    margin-top: 120px;
   
    width: 100%;

}

.main .cal{
   
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.main .right{
    width: 40%;
    height: 500px;
   font-size: 2em;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .form-cont{
    display: flex;
    width:40%;
    background-color:rgb(104, 22, 22); ;
    border-color: rgb(22, 104, 84);
    border-style:groove;
    border-width: 5px;
    border-radius: 90px;
    height: 500px;
    justify-content: space-between;
    align-items: center;

}