*{
    padding: 0px;
    margin: 0px;
    
}

body{
    height: 100vh;
}
.main {
    width: 100%;

}


.main .container{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.main .login-sec{
    width: 42%;
    background-color:ghostwhite;
    height: 100vh;
   font-size: 2em;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.main .intro{
    background-color: blanchedalmond;
    width: 58%;
    height: 100vh;
   font-size: 2em;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


